*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}

#lista_menu{  
    background-color: rgb(180, 1, 1);
    border-top: 0px;
    border-left: medium;
    border-right: medium;
    border-bottom: medium;
    border-color: black;
    border-style: solid;
    max-width: 1000px;
}

#lista_menu ul{
    border-top: medium;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    list-style-type: none;
    padding: 0px;
    background-color: rgb(180, 1, 1);
    text-align: center;
}

#lista_menu ul li{
    display: inline;  
}
#lista_menu ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .1,5s;
}
#lista_menu ul li a:hover{
    background-color: rgb(72, 82, 90);
}
#icone{
    list-style-image:  url(./icone-salgado.png.opdownload);
}
.imagem_inicio{
    height: 60px;
    width: 60px;
    padding: 2px;
}
img{
    max-width: 100%;
    max-width: 100%;
}
#container_rodape{
    max-height: 25px;
    max-width: 500px;
    display:flex;
}
#dev_estudo{
    color: white;
    background-color: rgb(180, 1, 1);
    border-top: medium;
    border-left: medium;
    border-right: medium;
    border-bottom: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;   
    font-size: 12px;
    max-width: 1000px;
}
#rodape{
    background-color: rgb(180, 1, 1);
    border-top: medium;
    border-left: medium;
    border-right: medium;
    border-bottom: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;   
    max-width: 1000px; 
}
#rodape h3{
    margin-top: 1px;
}
#rodape a{
    text-decoration: none;
}
#rodape a:visited{
    color:white
}
#rodape a:link{
    color:white
}