*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url(../imagem_rodape.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#lista_menu{  
    background-color: rgb(180, 1, 1);
    border-top: 0px;
    border-left: medium;
    border-right: medium;
    border-bottom: medium;
    border-color: black;
    border-style: solid;
    max-width: 1000px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}
#lista_menu ul{
    border-top: medium;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-color: black;
    border-style: solid;
    list-style-type: none;
    padding: 0px;
    background-color: rgb(180, 1, 1);
    text-align: center;
}

#lista_menu ul li{
    display: inline;  
}
#lista_menu ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .1,5s;
}
#lista_menu ul li a:hover{
    background-color: rgb(72, 82, 90);
}
#icone{
    list-style-image:  url(./icone-salgado.png.opdownload);
}
.imagem_inicio{
    height: 60px;
    width: 60px;
    padding: 2px;
}
img{
    max-width: 100%;
    max-width: 100%;
}
#container_conteudo{
    background-color: rgb(180, 1, 1);
    max-width: 400px;
    border-top: 0px;
    border-right: medium;
    border-bottom:0px;
    border-left: medium;
    border-style: solid;
    border-color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(rgb(156, 4, 4), red);
    position: relative;
    padding: 15px;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#container_conteudo h3{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}
#formulario_pedido label, p{
    color: white;
}
fieldset{
    border: 3px solid rgb(255, 238, 0);
    border-radius: 15px;
}
.inputBox{
    margin-left: 3%;
}
legend{
    color: white;
    border: 3px solid rgb(255, 238, 0);
    padding: 10px;
    text-align: center;
    background-image: url(../imagem_rodape.png);
    border-radius: 5px;
}
#container_rodape{
    max-height: 25px;
    max-width: 500px;
    display:flex;
}
#rodape{
    background-color: rgb(180, 1, 1);
    border-top: medium;
    border-left: medium;
    border-right: medium;
    border-bottom: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-family: 'Open Sans', sans-serif;   
    max-width: 1000px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#rodape h3{
    margin-top: 1px;
}
#rodape a{
    text-decoration: none;
}
#rodape a:visited{
    color:white
}
#rodape a:link{
    color:white
}
#submit{
    background-image: linear-gradient(to right, rgb(217, 255, 0), rgb(149, 151, 1));
    width: 96%;
    border: none;
    border-radius: 5px;
    padding: 15px;
}